@{
    ViewBag.Title = "Le Tuan Tinh";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>LeTuanTinh - Lesson09</h3>

    <address>
       K22CNT1 - Mon lap trinh web voi cong nghe Asp.Net MVC5
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Tinh@gmail.com">Tinh@gmail.coma "</a><br />
        <strong>Ca Nhan:</strong> <a href="mailto:Letuantinh@gmail.com">Letuantinh@gmail.com</a>
    </address>
</main>