
@{
    ViewBag.Title = "Le Tuan Tinh - Index";
}

<h2>Le Tuan Tinh - Index</h2>
<hr />
<h3>Hien thi du lieu lay tu Action trong Controller</h3>
<h4>FullName: @ViewBag.fullName</h4>
<h4>Ngay sinh: @ViewData["Birthday"]</h4>
<h4>Di dong: @TempData["Phone"]</h4>

